<div class="hero-overlay relative text-[10px]">
    <nav class="bg-[#3A626F] h-min z-[999]">
      <div class="navWrapper">
        <div class="logo">
          <img 
            src="/assets/images/Jamaica Housing Logo 1.png"
            alt="Jamaica-Homes Logo"
            width="110px"
            routerLink="/home"
          />
        </div>
  
        <ul class="flex justify-between items-center text-white gap-5">
          <li class="text-[#F1BC6C]">
            <a routerLink="/home">HOME</a>
          </li>
          <li><a routerLink="/about" routerLinkActive="router-link-active" >ABOUT US</a></li>
          <li> <a routerLink="/contact" routerLinkActive="router-link-active" >CONTACT US</a></li>
          <li>
            <a
						routerLink="/userAdd"
						routerLinkActive="router-link-active"
						>ADD YOUR HOUSE</a
					>
          </li>
        </ul>
  
        <div class="navButtons uppercase text-white flex gap-3">
          <button routerLink="/login">LOG IN</button>
          <button class="bg-blue-700 p-2 rounded-xl" routerLink="/signup">SIGN UP</button>
        </div>
      </div>
    </nav>
  </div>
  <div class="header">
    <h1>CONTACT US</h1>
 </div>
 <!-- body -->
 <div class="contactDetails">
    <div class="contactInfo">
      <h2>CONTACT INFORMATION</h2>
      <div class="clips">
        <b><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512"><!--! Font Awesome Pro 6.1.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. --><path d="M168.3 499.2C116.1 435 0 279.4 0 192C0 85.96 85.96 0 192 0C298 0 384 85.96 384 192C384 279.4 267 435 215.7 499.2C203.4 514.5 180.6 514.5 168.3 499.2H168.3zM192 256C227.3 256 256 227.3 256 192C256 156.7 227.3 128 192 128C156.7 128 128 156.7 128 192C128 227.3 156.7 256 192 256z"/></svg><p>Address:</p></b>
        <a href=""><p>Jamaica Homes <br> Kingston, Jamaica</p></a>
      </div>
      <div class="clip">
        <b><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><!--! Font Awesome Pro 6.1.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. --><path d="M511.2 387l-23.25 100.8c-3.266 14.25-15.79 24.22-30.46 24.22C205.2 512 0 306.8 0 54.5c0-14.66 9.969-27.2 24.22-30.45l100.8-23.25C139.7-2.602 154.7 5.018 160.8 18.92l46.52 108.5c5.438 12.78 1.77 27.67-8.98 36.45L144.5 207.1c33.98 69.22 90.26 125.5 159.5 159.5l44.08-53.8c8.688-10.78 23.69-14.51 36.47-8.975l108.5 46.51C506.1 357.2 514.6 372.4 511.2 387z"/></svg><p>Phone:</p></b>
        <a href=""><p>1-876-459-0909</p></a>
      </div>
      <div class="clip">
        <b><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><!--! Font Awesome Pro 6.1.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. --><path d="M464 64C490.5 64 512 85.49 512 112C512 127.1 504.9 141.3 492.8 150.4L275.2 313.6C263.8 322.1 248.2 322.1 236.8 313.6L19.2 150.4C7.113 141.3 0 127.1 0 112C0 85.49 21.49 64 48 64H464zM217.6 339.2C240.4 356.3 271.6 356.3 294.4 339.2L512 176V384C512 419.3 483.3 448 448 448H64C28.65 448 0 419.3 0 384V176L217.6 339.2z"/></svg><p>Email:</p></b>
        <a href=""><p>JamaicaHomes@gmail.com</p></a>
      </div>
      <div class="clip">
        <b><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512"><!--! Font Awesome Pro 6.1.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. --><path d="M128 96h384v256h64v-272c0-26.38-21.62-48-48-48h-416c-26.38 0-48 21.62-48 48V352h64V96zM624 383.1h-608c-8.75 0-16 7.25-16 16v16c0 35.25 28.75 64 64 64h512c35.25 0 64-28.75 64-64v-16C640 391.2 632.8 383.1 624 383.1z"/></svg><p>Web:</p></b>
        <a href=""><p>www.JamaicaHomes.com</p></a>
      </div>
    </div>
    <div class="contactForm">
      <h2>CONTACT FORM</h2>
      <div class="formWrapper">
       <form action="https://formsubmit.co/carywallace26@gmail.com" method="POST">
        <input type="text" placeholder="Name" required>
        <br>
        <input type="email" name="email" placeholder="Email Address">
        <input type="hidden" name="_next" value="https://localhost:4200/home">
        <br>
        <textarea name="" id="" cols="30" rows="10" placeholder="Message" required></textarea>
        <br>
        <button class="formbutton" type="submit">Submit</button>
       </form>
      </div>
    </div>
    <script src=" https://smtpjs.com/v3/smtp.js"></script>
 </div>
 <footer>
  <hr class="line" />

  <div class="footP1">
    <ul>
      <h3>ABOUT US</h3>

      <a href="#"><li>Contact Info</li></a>
      <a href="#"><li>News Hub</li></a>
      <a href="#"><li>Social Media</li></a>
    </ul>

    <ul>
      <h3>CUSTOMER SERVICE</h3>

      <a href="#"><li>Help Center</li></a>
      <a href="#"><li>Message Us</li></a>
      <a href="#"><li>Comment/Complaint</li></a>
    </ul>

    <ul>
      <h3>SITE SUPPORT</h3>

      <a href="#"><li>Login Help</li></a>
      <a href="#"><li>Site Map</li></a>
      <a href="#"><li>Browser Compatibility</li></a>
      <a href="#"><li>Accessibility</li></a>
    </ul>

    <ul>
      <h3>POLICIES</h3>

      <a href="#"><li>Customer Commitment</li></a>
      <a href="#"><li>Cookies, Privacy & Security</li></a>
      <a href="#"><li>(PDF)</li></a>
    </ul>
  </div>
</footer>

