

.navWrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-align: center;
    align-items: center;
}



.hero-overlay{
    background:linear-gradient(to right, rgba(0, 24, 47, 0.62)  0%, rgba(0, 24, 47, 0.62) 50%, rgba(0, 24, 47, 0.62) 100%),
    url('/src/assets/images/top-background-image.jpg') center/cover no-repeat;
}

.hero-card{
background: url('/assets/images/vector_1.png');
}

.broad-image{
    background:linear-gradient(to right, rgba(58, 98, 111, 0.77) 0%, rgba(58, 98, 111, 0.77) 50%, rgba(58, 98, 111, 0.77) 100%),
    url('/assets/images/area_3.png')
}

.house-listing p{
    font-weight: 300;
    font-size: 15px;
}

.house-listing h2{
   color: #616161;
   font-weight: 800;
   font-size: 1.2rem;
   text-transform: capitalize;

}
.house-listing h3{
  font-weight: 100;
  font-size: 1.75rem;
}

.navWrapper li a{
  padding: 1em;
}

.navWrapper li a:hover{
   background-color: #F1BC6C;
   color: white;
   padding: 1em;
   border-radius: 5px;
}


.modal{
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.696);
    backdrop-filter: blur(8px);
    z-index: 4;
    top: 0;
    left: 0;
    display: none;
}

.modalDetails{
    position: absolute;
    left: 50%;
    top: 30%;
    transform: translate(-50%);
    z-index: 5;
}

.flexMe{
  display: flex;
  flex-direction: row;
  margin: 6px;
  justify-content: flex-end;
}

footer {
    background-color: #3A626F;
    color: #fff;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
      Helvetica Neue, Arial, sans-serif;
      width: 100%;
  }
  
  /* hr{
      margin-left: 5%;
      margin-right: 5%;
      border: none;
      height: 1px;
      background-color: #7d8388;
  } */
  .line {
    margin-left: 5%;
    margin-right: 5%;
    border: none;
    height: 1px;
    background-color: #fff;
    margin-top: 3.4rem;
    margin-bottom: 3rem;
  }
  .footP1 {
    display: flex;
    /* align-items: center; */
    justify-content: center;
    line-height: 1.5;
    gap: 4.3rem;
  }
  .footP1 ul {
    /* display: block; */
    /* gap: 2rem; */
    list-style: none;
  }
  .footP1 h3 {
    font-family: Whitney-Bold;
    font-size: 0.9375rem;
    line-height: 1.125rem;
    color: rgba(0, 0, 0, 0.614) !important;
    text-transform: uppercase !important;
    letter-spacing: 1px;
  }
  .footP1 ul a {
    text-decoration: none;
    font-family: Whitney-medium;
    color: #fff;
    line-height: 2rem;
    font-size: 0.9375rem;
    font-weight: 560;
  }