<div class="hero-overlay relative text-[10px]">
  <nav class="bg-[#3A626F] h-min z-[999]">
    <div class="navWrapper">
      <div class="logo">
        <img
          src="/assets/images/Jamaica Housing Logo 1.png"
          alt="Jamaica-Homes Logo"
          width="110px"
        />
      </div>

      <ul class="flex justify-between items-center text-white gap-5">
        <li class="text-[#F1BC6C]">
          <a routerLink="/home">HOME</a>
        </li>
        <li><a routerLink="/about" routerLinkActive="router-link-active" >ABOUT US</a></li>
        <li> <a routerLink="/contact" routerLinkActive="router-link-active" >CONTACT US</a></li>
        <li>FLOOR PLAN</li>
      </ul>

      <div class="navButtons uppercase text-white flex gap-3">
        <button routerLink="/login">LOG IN</button>
        <button class="bg-blue-700 px-2" routerLink="/login">SIGN UP</button>
      </div>
    </div>
  </nav>
</div>
<!-- body -->
<div class="header">
   <h1>ABOUT US</h1>
</div>
<div class="share">
    <div class="image">
        <img src="/assets/images/about-us-img-1.jpg" alt="">
    </div>
    <div class="info">
         <h2>Jamaica Homes</h2>
         <p>From an island of humble beginnings from once being ruled by slave masters to becoming world leaders on the global stage shows how resilient and ambitious our people are. Jamaica Homes was created in 2022 to allow for the readily availability of houses for rent all over the island. It was especially created for students who may have wanted to live in close proximity to their respective universities and colleges.</p>
    </div>
</div>
<div class="share">
    <div class="info">
         <h2>Achievements</h2>
         <p>From an island of humble beginnings from once being ruled by slave masters to becoming world leaders on the global stage shows how resilient and ambitious our people are. Jamaica Homes was created in 2022 to allow for the readily availability of houses for rent all over the island. It was especially created for students who may have wanted to live in close proximity to their respective universities and colleges.</p>
    </div>
    <div class="image">
        <img src="/assets/images/about-us-img-3.jpg" height="200px" alt="">
    </div>
</div>
<footer>
    <hr class="line" />

    <div class="footP1">
      <ul>
        <h3>ABOUT US</h3>

        <a href="#"><li>Contact Info</li></a>
        <a href="#"><li>News Hub</li></a>
        <a href="#"><li>Social Media</li></a>
      </ul>

      <ul>
        <h3>CUSTOMER SERVICE</h3>

        <a href="#"><li>Help Center</li></a>
        <a href="#"><li>Message Us</li></a>
        <a href="#"><li>Comment/Complaint</li></a>
      </ul>

      <ul>
        <h3>SITE SUPPORT</h3>

        <a href="#"><li>Login Help</li></a>
        <a href="#"><li>Site Map</li></a>
        <a href="#"><li>Browser Compatibility</li></a>
        <a href="#"><li>Accessibility</li></a>
      </ul>

      <ul>
        <h3>POLICIES</h3>

        <a href="#"><li>Customer Commitment</li></a>
        <a href="#"><li>Cookies, Privacy & Security</li></a>
        <a href="#"><li>(PDF)</li></a>
      </ul>
    </div>
  </footer>
