<div class="side-menu">
    <div class="brand-name">
        <a href="/"><img src="https://www.dolphincoveja.com/Content/src/logo.png" width="110px" height="auto"></a>
    </div>
    <ul>
        <li><a href="/programs"><img src="dashboard (2).png" alt="">&nbsp;<span>Programs</span></a> </li>
        <li><a href="/reservation"><img src="reading-book (1).png" alt="">&nbsp;<span>Make Reservation</span></a> </li>
        <li><a href="/tourBooking"><img src="teacher2.png" alt="">&nbsp;<span>Make Tour Booking</span></a> </li>
        <li><a href="/tourPage"><img src="school.png" alt="">&nbsp;<span>Tour Companies</span></a> </li>
        <li><a href="/tourBooking/view"><img src="payment.png" alt="">&nbsp;<span>Tour Bookings</span></a> </li>
        <li><a href="/tourBooking/editview"><img src="help-web-button.png" alt="">&nbsp; <span>Tour Booking Management</span></a></li>
        <li><a href="/login/logout"><img src="settings.png" alt="">&nbsp;<span>Logout</span></a> </li>
    </ul>
</div>
