/* Webpixels CSS */
/* Utility and component-centric Design System based on Bootstrap for fast, responsive UI development */
/* URL: https://github.com/webpixels/css */

@import url(https://unpkg.com/@webpixels/css@1.1.5/dist/index.css);

/* Bootstrap Icons */
@import url("https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.4.0/font/bootstrap-icons.min.css");

.user svg{
    width: 30px;
    height: auto;
    padding: 0px 7px;
}

.user{
    display: flex;
    flex-direction: row;   
}

.add{
    padding: 0.5em;
    background-color: #2199e8;
    color: white;
    margin: 1.2em;
    border-radius: 10px;
}

.add:hover{
    background-color: #2199e8;
    padding: 0.5em;
    color: white;
    margin: 1.2em;
    border-radius: 10px;
}

.flexMe{
    display: flex;
    flex-direction: row;
    margin: 6px;
    justify-content: flex-end;
  }
  